  <!--footer-->
  <footer class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">Copyriht @ 2023-2024. Designed By Mayung</p>
        </div>
        <div class="col-md-6 text-md-end">
          <div >
            <a href="#"><i class="bx bxl-facebook-circle"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>